.menu_link
{
    text-decoration: none;
    color: black;
}


.carroConNumero
{
    display: flex;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    background-color: antiquewhite;
}

.carro
{
    display: flex;
    width: 25%;
    position: relative;
    justify-content: flex-end;
}


/*Numero 5 hardcodeado en el carrito */
h5
{
    border-radius: 50%;
    border: 1px solid;
    padding: 5px;
    background-color: orange;
}

.main-titulo
{
    display: block;
    padding-bottom: 10px;
    text-align: center;
}

.ver_mas
{
    color: white;
    text-decoration: none;
}

.productos
{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.detalles
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: azure ;
}


.img_producto
{
    border: 1px solid;
    border-bottom-right-radius: 15%;
}


.btn_enviar
{
    float: right;
}


.container-fluid
{
    width: 100%;
    background-color: rgb(254, 255, 182);
}